.config/gh
.config/dconf
.config/obsidian
.config/ZapZap
.config/mimeapps.list
.config/cef_user_data
.config/dolphinrc
.config/gtk-3.0
.config/kde.org
.config/ResponsivelyApp
.config/kingsoft
.config/Kingsoft
.config/nvim/lazy-lock.json
.config/BlueMail
.config/go
.config/dolphinrc
.config/pulse
.config/session
.config/configstore
.config/onedrive
.config/pulseaudio-ctl
.config/systemd
.config/autostart
.config/create-next-app-nodejs
.config/github-copilot
.config/kde.org
.config/nextjs-nodejs
.config/pavucontrol.ini
.config/QtProject.conf
.config/trashrc
