.config/dconf
.config/gh
.config/pulse
.config/systemd
.config/yay
.config/paru
.config/xfce4
.config/gtk-3.0
.config/discord
.config/cef_user_data
.config/kingsoft
.config/Kingsoft
.config/obsidian
.config/Notion
.config/turso
.config/mimeapps.list
